@import '../../theme-colors.scss';

.flip-card {
    transform: rotateY(180deg);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.called-card {
    position: relative;
    color: $dark-blue;
    background-color: $white;
    width: 250pt;
    height: 250pt;
    padding: 20pt;
    border-radius: 0.5em;
    cursor: pointer;
}

.called-cards-list-container{
    width: 250pt;
    height: 250pt;
    overflow-y: scroll;
    background-color: $white;
    border-radius: 0.5em;
    
}

.called-card-list-group{
    position: relative;
    margin: 10pt;
}

.called-cards-list-item{
    position: relative;
    color: $dark-blue;
    border-right: 0pt;
    border-left: 0pt;
    border-top: 0pt
}

.called-card-image-list{
    height: 75pt;
    width: 75pt;
    margin-right: 20pt;
}

.called-card-image-list-free{
    height: 75pt;
    width: 75pt;
    margin-right: 0pt;
}

.called-card-letter-list{
    margin-left: 20pt;
    font-size: 50pt;
}


.called-card-letter{
   font-weight: 700;
   color: $dark-blue;
}

.called-card-letter-lg{
    font-size: 40pt;
    position: relative;
    bottom: 40pt;
 }

.called-card-control-icon {
   font-size: 20pt;
   font-weight: 700;
   color: $gray-400;
   position: absolute;
   top: 10pt;
   right: 15pt;
   cursor: pointer;
}

.called-card-control-icon-list {
    font-size: 20pt;
    font-weight: 700;
    color: $gray-400;
    position: relative;
    top: 10pt;
    right: 35pt;
    opacity: 0.8;
    cursor: pointer;
 }

.free-letter-dn {
    display: none;
}