@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import './theme-colors.scss';
@import './node_modules/bootstrap/scss/bootstrap.scss';
@import url("https://use.typekit.net/ayq4puw.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
	color: $gray-100;
	background-color: $dark;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: thin;
	font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.display {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.bg-grad-black {
	background-image: linear-gradient(
		rgba(20,24,26,1) 80%, 
		rgba(10,10,10,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,#000000), 
		color-stop(80%,#121418), 
		color-stop(100%,#000000)); 
	background: -webkit-linear-gradient(top,  
		rgba(12,13,14,1) 0%, 
		rgba(20,24,26,1) 80%, 
		rgba(10,10,10,1) 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-grad-red {
	background-image: linear-gradient(
		rgba(20,3,0,1) 0%,
		rgba(35,3,1,1) 80%, 
		rgba(55,3,1,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,#150300), 
		color-stop(80%,#1C0201), 
		color-stop(100%,#370301)); 
	background: -webkit-linear-gradient(top,  
		rgba(20,3,0,1) 0%,
		rgba(35,3,1,1) 80%, 
		rgba(55,3,1,1) 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-grad-green {
	background-image: linear-gradient(
		rgba(0,23,4,1) 0%,
		rgba(1,30,6,1) 80%, 
		rgba(2,40,8,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,#001704), 
		color-stop(80%,#001F0A), 
		color-stop(100%,#003209)); 
	background: -webkit-linear-gradient(top,  
		rgba(0,23,4,1) 0%,
		rgb(1,30,6,1) 80%, 
		rgba(2,40,8,1) 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-grad-yellow {
	background-image: linear-gradient(
		rgba(42,34,0,1) 0%,
		rgba(85,61,0,1) 60%, 
		rgba(148,120,1,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(0%,#2A2200), 
		color-stop(80%,#553D00), 
		color-stop(100%,#947800)); 
	background: -webkit-linear-gradient(top,  
		rgba(42,34,0,1) 0%,
		rgba(85,61,0,1) 60%, 
		rgba(148,120,1,1) 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.game-bg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0pt;
    left: 0pt;
}