@import '../theme-colors.scss';

.cardManagerContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-color: blue;*/
    position: fixed;
    top: 0pt;
}

.cardListContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    display: flex;
    flex-direction: row;
    overflow-x: visible;
    position: relative;
}

.cardWrapper {
    position: relative;
    display: inline;
    min-width: 400pt;
    max-width: 500pt;
    padding: 20pt;
    transform: translate(-50%, 0%);
    z-index: 2;
    transition: transform .25s,;
    transition-timing-function: ease-in-out;
}

.activeCard {
    transform: scale(0.5);
}

.cardCover {
    position: relative;
    display: block;
    top: 0pt;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.cardIndexControls {
    position: fixed;
    bottom: 40pt;
    left: 50%;
    transform: translateX(-50%);
}