@import '../theme-colors.scss';

.user-control-btn {
	opacity: .25;
	transition: opacity .25s;
}

.user-control-btn:hover {
	opacity: 1;

	.link-text {
		opacity: 1;
	}
}

.player-list-group-title {
    color: $red;
    opacity: .6;
}

hr {
    border-top: 1pt solid $red;
    opacity: .3;
	border-bottom: none;
	background-color: #0000;
}