@import '../theme-colors.scss';

.list-group-item {
    background-color: #00000000;
    color: $gray-100;
    
}

.gameName {
    text-decoration: none;
}

.game-room-detail {
    font-size: 10pt;
    opacity: .7;
}