@import '../theme-colors.scss';

.list-group-item {
    background-color: #00000000;
    color: $gray-100;
    
}

.gameName {
    text-decoration: none;
}

.game-badge {
    background-color: $secondary;
    color: $dark;
    margin-left: 6pt;
    margin-top: 4pt;
    font-size: 8pt;
}

.game-room-detail {
    font-size: 10pt;
    opacity: .7;
}

.title.title-red {
    color: $red;
    opacity: 0.8;
}