@import '../theme-colors.scss';

.login-form {
    text-align: center;
    width: 100%;
    margin: auto;
}

.title {
    color: $secondary;
}

.profile-badge {
    width: 128pt;
    height: 125pt;
    border-radius: 25rem;
    text-align: center;
    font-family: bely-display;
    margin: auto;
    margin-top: 20pt;
}

.profile-badge-letters {
    position: relative;
    top: 12.5%;
    font-size: 64pt;
    max-width: 110pt;
}

.color-picker-wrapper {
    margin: auto;
}

.color-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-color-choice {
    width: 48pt;
    height: 48pt;
    border-radius: 10rem;
    margin: 10pt;  
    cursor: pointer; 
}

.profile-color-choice-selected {
    border: solid white 2pt;
}

.profile-color-red {
    background-color: $red;
}

.profile-color-green {
    background-color: $green;
}

.profile-color-yellow {
    background-color: $yellow;
}

.profile-color-blue {
    background-color: $blue;
}


input {
    background-color: #00000000;
    color: white;
    border: none;
    font-size: 24pt;
    width: 100%;
}

input:focus {
    border: none;
    background-color: #00000000;
    outline: none !important;
}

.input-wrapper {
    display: flex;
    flex: 1;
    padding: 6pt 15pt 6pt 6pt;
    margin: 0pt 6pt 10pt 6pt;
    border-bottom: solid;
    border-color: $secondary;
    border-width: 1pt;
    border-radius: 0pt;
}

.input-glyph {
    margin: 0pt 10pt;
    font-size: 16pt;
}

.submit-changes-btn {
    margin-top: 20pt;
    margin-bottom: 20pt;
}

#new-profile-helper {
    text-align: center;
    align-content: center;
    margin-bottom: 20pt;
}