@import '../../theme-colors.scss';

.blurred-backdrop {
    position: absolute;
	transform: translate(-50%, 0%);
	top: 20pt;
	left: 50%;
	width: 80%;
    -webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
    filter: drop-shadow(0 0 0.75rem #282a2c);
    border-radius: 6pt;
    margin-bottom: 20pt;
}

/*.blurred-backdrop-false {
    position: absolute;
	transform: translate(-50%, 0%);
	top: 20pt;
	left: 50%;
	width: 80%;
    background-color: rgba($color: #FFFFFF, $alpha: 1.0);
    filter: drop-shadow(0 0 0.75rem #282a2c);
    border-radius: 6pt;
    margin-bottom: 20pt;
}*/

.colored-red {
    /*background-color: #F9D9DD66;*/
    background-color: rgba($light-pink, $alpha: 0.6);
    color: $dark-red;
}
.colored-orange {
    background-color: rgba($light-orange, $alpha: 0.6);
    color: $dark-orange;
}
.colored-yellow {
    background-color: rgba($light-yellow, $alpha: 0.6);
    color: $dark-yellow;
}
.colored-green {
    background-color: rgba($light-green, $alpha: 0.6);
    color: $dark-green;
}
.colored-cyan {
    background-color: rgba($light-cyan, $alpha: 0.6);
    color: $dark-teal;
}
.colored-blue {
    background-color: rgba($light-blue, $alpha: 0.6);
    color: $dark-blue;
}
.colored-purple {
    background-color: rgba($light-purple, $alpha: 0.6);
    color: $dark-purple;
}
.colored-brown {
    background-color: rgba($light-brown, $alpha: 0.6);
    color: $dark-brown;
}

.active-book-header {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.active-book-thumbnail {
    margin: 20pt;
    margin-right: 0pt;
    flex-grow: 1 1;
    max-width: 100pt;
    max-height: 300pt;
    display: block;
    width: auto;
    height: auto;
}

.active-book-title {
    padding-right: 20pt;
    flex-grow: 3;
    font-size: 40pt;
    margin-top: 30pt;
    margin-left: 20pt;
    font-weight: 400;
}

.active-book-author {
    font-style: italic;
    margin-left: 20pt;
}

.active-book-date {
    margin-left: 20pt;
}

.active-book-description {
    position: relative;
    padding: 30pt;
    font-size: 12pt;
    line-height: 22pt;
}

.active-book-control-area {
    position: relative;
    width: 100%;
    height: 40pt;
}

.close-active-action {
    opacity: .3;
    position: absolute;
    background-color: #ffF0;
    backdrop-filter: none;
    filter: none;
    border: none;
    font-size: 28pt;
    right: 20pt;
    top: 10pt;
}

.mark-favorite-action {
    opacity: .3;
    position: absolute;
    background-color: #ffF0;
    backdrop-filter: none;
    filter: none;
    border: none;
    font-size: 28pt;
    left: 20pt;
    top: 10pt;
}

.unmark-favorite-action {
    opacity: .3;
    position: absolute;
    background-color: #ffF0;
    backdrop-filter: none;
    filter: none;
    border: none;
    font-size: 28pt;
    left: 20pt;
    top: 10pt;
}

.unmark-favorite-action:hover {
    color: $danger;
    opacity: 1;
}

@media only screen and (max-width: 750px) {
    .active-book-title {
        font-size: 14pt;
        margin-top: 5pt;
    }
    .active-book-description {
        font-size: 10pt;
        padding: 10pt;
        padding-top: 0pt;
        margin-top: 5pt;
        margin-bottom: 20pt;
        max-height: 150pt;
        overflow-y: scroll;
    }
    .active-book-thumbnail {
        position: relative;
        margin-bottom: 0pt;
    }
    .active-book-author, .active-book-date {
        font-size: 12pt;
        margin-bottom: 0pt;
    }
    .active-book-header {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

@media only screen and (max-width: 375px) {
    
}