@import '../../theme-colors.scss';

.shelf {
    margin: auto;
    border: none;
}

.books-on-shelf-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: scroll;
    padding: 20pt;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.shelf-base {
    color: $dark-brown;
    background-color: $dark-brown;
    opacity: .8;
    border-top: 3pt solid;
    border-radius: 2pt;
}

.books-on-shelf-container::-webkit-scrollbar {
    display: none;
  }

@media only screen and (max-width: 750px) {
    .shelf {
        transform: scale(.75) translateY(-70pt) translateX(-100pt);
        width: 200%;
        margin: none;
    }
    .books-on-shelf-container {
        padding-top: 0pt;
        width: 100%;
        margin: none;
    }
}

@media only screen and (max-width: 375px) {
    .shelf {
        transform: scale(.65) translateY(-120pt) translateX(-100pt);
        width: 200%;
        margin: none;
    }
}